<div class="card text-center">
  <div class="card-header">
    Flight VR
  </div>
  <div class="card-block">
    <h4 class="card-title">Welcome to the Flight VR App</h4>
    <%= link_to "Sign Up", '/signup', :"data-turbolinks" => true, :'class' => "btn btn-primary" %>
  </div>
</div>