/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$primary_menufont_active_color: #3e3e3e;
$primary_menufont_color: #EC2347;
$primary_background: #EFD095;

.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

ul.nav {
    padding: 10px 0;
    width: 100%;
    background-color: #ffffff;
}

.container h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
}

li.nav-item {
    font-size: .9em;
}

li.nav-item a {
	color: $primary_menufont_color;
}

li.nav-item a.active {
	color: $primary_menufont_active_color;
	font-weight: 700;
}

li.nav-item a:hover {
    color: $primary_menufont_active_color;
}

.card.text-center {
    margin-top: 50px;
}

.card-block {
    padding: 20px;
}

.row {
    padding: 30px 0;
}

.col-md-6.col-md-offset-3 {
    margin: 0 auto;
}